*{
    box-sizing: border-box;
}

body {
	font-family: sans-serif, Verdana, Tahoma;
	background-color: #ffffff;
    background-image: url("img/fondo3.jpg");

}
.container {
	max-width: 1170px;
	margin: 0 auto;
}

.logo {
    width: 43%;
    height:43%;
}


ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
	}
    .main-header{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
.main-nav ul a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    justify-content: space-between;
    width: 110%;
   ;
}

.main-nav{
    display: flex;
    align-items: center;
    width: 100%; 
    background-color: darkblue;
    padding: 12px 15px;
	overflow: hidden;
    justify-content: center;
}
.main-nav .menu{
display: flex;
justify-content: center;
}

.logo {
	margin-top: 20px;
  border-radius: 90px;
  border: 1px solid #ccc;
}
.main-nav li {
	display: flex;
    margin-right: 30px;
    align-items: flex-end;
   
}
.search-bar button{
	
    background-color: #000000;
    border: 1px solid #000000;
    color: rgb(24, 197, 18);
    text-transform: capitalize;
    width: 18%;
    padding: 8px 6px;
    border-radius: 10px;
	cursor: pointer;
}
.top-artists{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-around;
    
    
}
.artist{
    margin-bottom: 30px;
    color: #fff;
    width: 500px;
    height: 500px;
    
  }
  .artist .photo {
    width: 300px;
    display: flex;
    
  }
.song-list li{
    color: rgb(21, 158, 192);
    list-style: none;
    text-decoration: none;
    align-self: center;
}
h2{
    align-self: center;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: darkblue;
    text-align: center;
    color: white;
}